body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: grid;
    grid-template-columns: 
    [inicio]1fr[linea2]1fr[linea3]1fr[linea4]1fr
    [linea5]1fr[linea6]1fr[linea7]1fr[fin];
    grid-template-rows: [iniciov]1fr[iniciov2]1fr[iniciov3];
    grid-gap: 5px ;
    height: 100vh;
    /* solo hara efecto el ancho o el alto cuando ocupes el flow respectivo */
    grid-auto-flow: column;
    grid-auto-columns: 200px 100px;
    grid-auto-rows: 50px 20px;
    
}
.item{
    background:lightskyblue;
    border: solid 1px red;
    padding: 10px;
}
.item:nth-of-type(1){
    background-color: red;
    grid-column: inicio / span 3;
    grid-row: iniciov/iniciov3;
}
.item:nth-of-type(2){
    grid-column: linea4 /span 2;
    grid-row:iniciov/iniciov3;
}
.item:nth-of-type(3){
    grid-column: linea6 /fin;
    
}
.item:nth-of-type(4){
    grid-column: linea6/span 1;
    grid-row: iniciov2/iniciov3;
}
.item:nth-of-type(5){
    grid-column:  linea7/fin;
    grid-row: iniciov2/iniciov3;
}