body{
    margin: 0;
}
.pin-list{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
    grid-auto-rows: minmax(100px,200px);
    grid-gap: 20px;
    justify-content: center;
}
.level-1{
    overflow: hidden;
    grid-row-end: span 3;
}
.level-1 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.level-2{
    overflow: hidden;
    grid-row-end: span 2;
}
.level-2 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.level-3{
    overflow: hidden;
    grid-row-end: span 1;
}
.level-3 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

