body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.post-list{
    display: grid;
    grid-template-columns: repeat(3,minmax(100px, 300px));
    justify-content: center;
    grid-gap: 28px;
}

.post{
    cursor: pointer;
    display:block;
    position: relative;
}
.post-image{
    margin: 0;
}
.post-image img{
    width: 100%;
    vertical-align: top;
}
.post-overlay{
    display: none;
    background:rgba(0,0,0, .4);
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}
.post:hover .post-overlay{
    display: flex;
}
.post-like, .post-comment{
    margin: 10px;
    font-weight: bold;
}
@media screen and (max-width:700px){
    .post-list{
        grid-gap: 3px;
    }
}