body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.post{
    cursor: pointer;
    display: block;
    width: 200px;
    position: relative;
}
.post-image{
    margin: 0;
}
.post-image img{
    width: 100%;
    vertical-align: top;
}
.post-overlay{
    display: none;
    background:rgba(0,0,0, .4);
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}
.post:hover .post-overlay{
    display: flex;
}
.post-like, .post-comment{
    width: 80px;
    margin: 10px;
    font-weight: bold;
}